<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/select2/select2.min.css" rel="stylesheet">
    <link href="assets/select2/select2.bs.min.css" rel="stylesheet">
    <link href="assets/custom.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>

<body>
    <section id="page-heading" class="prd-pgheading h-section tl-section1 carcampiegn">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-5 col">
                    <div class="form-wrap box-shadow-sm">
                        <form class="form-horizontal">
                            <div class="top">
                                <div id="h-formx" class="auto-frm form-steps">
                                    <div class="form-group col-md-12 col-sm-6 col-xs-12 form_arrow mb-4">
                                        <label for="brand" class="car-label1">Car Brand</label>
                                        <select name="brand" id="brand" class="form-control as">
                                            <option>Car Brand</option>
                                            <option value="honda">Honda</option>
                                            <option value="toyota">Toyota</option>
                                        </select>
                                    </div>
                                    <div id="model-tab" class="form-group col-md-12 col-sm-6 col-xs-12 form_arrow mb-4">
                                        <label for="model" class="car-label1">Car Model</label>
                                        <select name="model" id="model" class="form-control as">
                                            <option value="" disabled="" selected="">Car Model (e.g: Civic)</option>
                                        </select>
                                        <div class="status"></div>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-6 col-xs-12 form_arrow mb-4">
                                        <label for="variant" class="car-label1">Car Variant</label>
                                        <select name="variant" id="variant" class="form-control as">
                                        </select>
                                    </div>
                                    <div id="year-tab" class="form-group col-md-12 col-sm-6 col-xs-12 form_arrow mb-4">
                                        <label for="variant" class="car-label1">Manufacturing Year</label>
                                        <select name="year" id="year" class="form-control as">
                                            <option>Manufacturing Year</option>
                                            <option value="2005">2005</option>
                                            <option value="2006">2006</option>
                                            <option value="2007">2007</option>
                                            <option value="2008">2008</option>
                                            <option value="2009">2009</option>
                                            <option value="2010">2010</option>
                                            <option value="2011">2011</option>
                                            <option value="2012">2012</option>
                                            <option value="2013">2013</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-6 col-xs-12 form_arrow mb-4">
                                        <label for="estimated-value" class="car-label1">Estimated
                                            Value</label>
                                        <input class="form-control" type="text" placeholder="Estimated Value">


                                    </div>
                                    <a href="listing-car.html" class="btn-primary btn-md btn semibold btn-next-1 btn-form-next"
                                        data-toggle="tab">
                                        See Plan <i class="icofont icofont-arrow-right ml-10"></i></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> <!-- /container -->
    </section>
</body>
<script src="assets/jquery/jquery.slim.js"></script>
<script src="assets/popper/popper.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/select2/select2.min.js"></script>
<script src="assets/select2/select2cascades.js"></script>
<script src="assets/custom.js"></script>

</html>