{% extends 'frontend/formsBase.html' %}
{% load static %}
{% block body %}

<body>
    <div id="hp-sections">
        <section id="page-heading" class="prd-pgheading h-section tl-section1 healthcampiegn">
            <div class="container">
                <div class="flex-center h-banner askari-banner">
                    <div class="flex-sm">
                        <div class="row flex-row">
                            <div class="fn col-md-5 col-sm-6 col">
                                <div id="ci-banner">
                                    <div class="form-wrap box-shadow-sm">
                                        <div class="top">
                                            <div id="h-formx" class="tab-content form-steps">
                                                <div>
                                                    <div id="main-tab2" class="form-step" data-prev-form="1">
                                                        <div id="nav-tabs" class="clearfix">
                                                            <ul class="nav nav-tabs">
                                                                <li class="myself-btn btn-form-next"><a
                                                                        class="btn btn-md">
                                                                        <div class="icon imggroup"><img
                                                                                src="{% static 'assets/img/icon/h-self-n.svg' %}">
                                                                        </div>
                                                                        <div class="text semibold">
                                                                            Myself
                                                                        </div>
                                                                    </a></li>
                                                                <li class="family-btn btn-form-next active"><a
                                                                        class="btn btn-md">
                                                                        <div class="icon imggroup"><img
                                                                                src="{% static 'assets/img/icon/h-family-n.svg' %}">
                                                                        </div>
                                                                        <div class="text semibold">
                                                                            Family
                                                                        </div>
                                                                    </a></li>
                                                                <li class="parents-btn btn-form-next"><a
                                                                        class="btn btn-md">
                                                                        <div class="icon imggroup"><img
                                                                                src="{% static 'assets/img/icon/h-parents-n.svg' %}">
                                                                        </div>
                                                                        <div class="text semibold">
                                                                            Parents
                                                                        </div>
                                                                    </a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div id="myself" class="form-step" data-prev-from="2">
                                                        <div class="form-area">
                                                            <form action="{% url 'healthlisting' %}" target="_parent" id="health-search-form-self" method="POST" class="nomargin health-search-form">
                                                                {% csrf_token %}
                                                                <input type="hidden" value="self" name="type">
                                                                <div class="tab-row2">
                                                                    <div
                                                                        class="form-group col-md-12 col-sm-6 col-xs-12 form_arrow mb-4">
                                                                        <select name="age" required="required"
                                                                            onchange="setrg(this,'amembers-self')"
                                                                            class="form-control ag hsreq-self label-top selfage form-select_box">
                                                                            <option value=" ">Select Age</option>
                                                                            <option value="18">18 Years</option>
                                                                            <option value="19">19 Years</option>
                                                                            <option value="20">20 Years</option>
                                                                            <option value="21">21 Years</option>
                                                                            <option value="22">22 Years</option>
                                                                            <option value="23">23 Years</option>
                                                                            <option value="24">24 Years</option>
                                                                            <option value="25">25 Years</option>
                                                                            <option value="26">26 Years</option>
                                                                            <option value="27">27 Years</option>
                                                                            <option value="28">28 Years</option>
                                                                            <option value="29">29 Years</option>
                                                                            <option value="30">30 Years</option>
                                                                            <option value="31">31 Years</option>
                                                                            <option value="32">32 Years</option>
                                                                            <option value="33">33 Years</option>
                                                                            <option value="34">34 Years</option>
                                                                            <option value="35">35 Years</option>
                                                                            <option value="36">36 Years</option>
                                                                            <option value="37">37 Years</option>
                                                                            <option value="38">38 Years</option>
                                                                            <option value="39">39 Years</option>
                                                                            <option value="40">40 Years</option>
                                                                            <option value="41">41 Years</option>
                                                                            <option value="42">42 Years</option>
                                                                            <option value="43">43 Years</option>
                                                                            <option value="44">44 Years</option>
                                                                            <option value="45">45 Years</option>
                                                                            <option value="46">46 Years</option>
                                                                            <option value="47">47 Years</option>
                                                                            <option value="48">48 Years</option>
                                                                            <option value="49">49 Years</option>
                                                                            <option value="50">50 Years</option>
                                                                            <option value="51">51 Years</option>
                                                                            <option value="52">52 Years</option>
                                                                            <option value="53">53 Years</option>
                                                                            <option value="54">54 Years</option>
                                                                            <option value="55">55 Years</option>
                                                                            <option value="56">56 Years</option>
                                                                            <option value="57">57 Years</option>
                                                                            <option value="58">58 Years</option>
                                                                            <option value="59">59 Years</option>
                                                                            <option value="60">60 Years</option>
                                                                            <option value="61">61 Years</option>
                                                                            <option value="62">62 Years</option>
                                                                            <option value="63">63 Years</option>
                                                                            <option value="64">64 Years</option>
                                                                            <option value="65">65 Years</option>
                                                                            <option value="66">66 Years</option>
                                                                            <option value="67">67 Years</option>
                                                                            <option value="68">68 Years</option>
                                                                            <option value="69">69 Years</option>
                                                                            <option value="70">70 Years</option>
                                                                            <option value="71">71 Years</option>
                                                                            <option value="72">72 Years</option>
                                                                            <option value="73">73 Years</option>
                                                                            <option value="74">74 Years</option>
                                                                            <option value="75">75 Years</option>
                                                                        </select>

                                                                    </div>
                                                                    <div class="form-group col-md-12 col-sm-6 col-xs-12 form_arrow mb-4 ">
                                                                        <select name="gender" required="required"
                                                                            class="form-control form-select_box">
                                                                            <option value=" ">Select Gender</option>
                                                                            <option value="male">Male</option>
                                                                            <option value="female">Female</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="form-group col-md-12">
                                                                        <div class="hospital-pkr"> Select
                                                                            Hospitalization Limit (PKR) </div>
                                                                        <div class="price-range-wrap clearfix">
                                                                            <button  type="button" name="limit"  value="0.6-2"
                                                                                class="form-control square price-range package-text-one semibold center select-limit">
                                                                                60k - 2 Lac
                                                                            </button>
                                                                            <input type="radio" style="display:none" value="60k - 2 Lac" name="limit">
                                                                            <button  type="button" name="limit"  value="2-5"
                                                                                class="form-control square price-range package-text-one semibold center select-limit">
                                                                                2 Lac - 5 Lac
                                                                            </button>
                                                                            <input type="radio" style="display:none" value="2 Lac - 5 Lac" name="limit">
                                                                            <button  type="button" name="limit"  value="5-10" id="asdf"
                                                                                class="form-control square price-range package-text-one semibold center select-limit">
                                                                                5 Lac - 10 Lac
                                                                            </button>
                                                                            <input type="radio" style="display:none" for="asdf" value="5 Lac - 10 Lac" name="limit">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                
                                                                <div id="nav-tabs-data">
                                                                    <div class="clearfix center">
                                                                        <button type="submit" class="see-plan btn-block btn btn-lg btn-orange btn-health-search-self" data-toggle="tab">
                                                                            See Plans <i class="icofont icofont-arrow-right ml-10"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <div id="family" class="hide family-tab clearfix form-step"
                                                        data-prev-form="2">
                                                        <div class="form-area form-area-family">
                                                            <form action="{% url 'healthlisting' %}" id="health-search-form-family" method="POST" class="nomargin health-search-form">
                                                                {% csrf_token %}
                                                                <input type="hidden" value="family" name="type">

                                                                <div class="clearfix d-block d-sm-flex">
                                                                    <div class="form-group col-md-6 form_arrow">
                                                                        <select name="age" data-rel="Husband"  id="selectkid1" style="width: 100%"
                                                                            onchange="setrg(this,'amembers-family')"
                                                                            class="form-control ag adult hsreq-family label-top yourage form-select_box_family">
                                                                            <option value=" ">Your Age?</option>
                                                                            <option value="18">18 Years</option>
                                                                            <option value="19">19 Years</option>
                                                                            <option value="20">20 Years</option>
                                                                            <option value="21">21 Years</option>
                                                                            <option value="22">22 Years</option>
                                                                            <option value="23">23 Years</option>
                                                                            <option value="24">24 Years</option>
                                                                            <option value="25">25 Years</option>
                                                                            <option value="26">26 Years</option>
                                                                            <option value="27">27 Years</option>
                                                                            <option value="28">28 Years</option>
                                                                            <option value="29">29 Years</option>
                                                                            <option value="30">30 Years</option>
                                                                            <option value="31">31 Years</option>
                                                                            <option value="32">32 Years</option>
                                                                            <option value="33">33 Years</option>
                                                                            <option value="34">34 Years</option>
                                                                            <option value="35">35 Years</option>
                                                                            <option value="36">36 Years</option>
                                                                            <option value="37">37 Years</option>
                                                                            <option value="38">38 Years</option>
                                                                            <option value="39">39 Years</option>
                                                                            <option value="40">40 Years</option>
                                                                            <option value="41">41 Years</option>
                                                                            <option value="42">42 Years</option>
                                                                            <option value="43">43 Years</option>
                                                                            <option value="44">44 Years</option>
                                                                            <option value="45">45 Years</option>
                                                                            <option value="46">46 Years</option>
                                                                            <option value="47">47 Years</option>
                                                                            <option value="48">48 Years</option>
                                                                            <option value="49">49 Years</option>
                                                                            <option value="50">50 Years</option>
                                                                            <option value="51">51 Years</option>
                                                                            <option value="52">52 Years</option>
                                                                            <option value="53">53 Years</option>
                                                                            <option value="54">54 Years</option>
                                                                            <option value="55">55 Years</option>
                                                                            <option value="56">56 Years</option>
                                                                            <option value="57">57 Years</option>
                                                                            <option value="58">58 Years</option>
                                                                            <option value="59">59 Years</option>
                                                                            <option value="60">60 Years</option>
                                                                            <option value="61">61 Years</option>
                                                                            <option value="62">62 Years</option>
                                                                            <option value="63">63 Years</option>
                                                                            <option value="64">64 Years</option>
                                                                            <option value="65">65 Years</option>
                                                                            <option value="66">66 Years</option>
                                                                            <option value="67">67 Years</option>
                                                                            <option value="68">68 Years</option>
                                                                            <option value="69">69 Years</option>
                                                                            <option value="70">70 Years</option>
                                                                            <option value="71">71 Years</option>
                                                                            <option value="72">72 Years</option>
                                                                            <option value="73">73 Years</option>
                                                                            <option value="74">74 Years</option>
                                                                            <option value="75">75 Years</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="form-group col-md-6 form_arrow">
                                                                        <select name="wife_age" data-rel="Wife" style="width: 100%;"
                                                                            onchange="setrg(this,'amembers-family')"
                                                                            class="form-control ag adult hsreq-family label-top yourspousage form-select_box_family">
                                                                            <option value=" ">Your Spouses Age?</option>
                                                                            <option value="-1">No Spouse</option>
                                                                            <option value="18">18 Years</option>
                                                                            <option value="19">19 Years</option>
                                                                            <option value="20">20 Years</option>
                                                                            <option value="21">21 Years</option>
                                                                            <option value="22">22 Years</option>
                                                                            <option value="23">23 Years</option>
                                                                            <option value="24">24 Years</option>
                                                                            <option value="25">25 Years</option>
                                                                            <option value="26">26 Years</option>
                                                                            <option value="27">27 Years</option>
                                                                            <option value="28">28 Years</option>
                                                                            <option value="29">29 Years</option>
                                                                            <option value="30">30 Years</option>
                                                                            <option value="31">31 Years</option>
                                                                            <option value="32">32 Years</option>
                                                                            <option value="33">33 Years</option>
                                                                            <option value="34">34 Years</option>
                                                                            <option value="35">35 Years</option>
                                                                            <option value="36">36 Years</option>
                                                                            <option value="37">37 Years</option>
                                                                            <option value="38">38 Years</option>
                                                                            <option value="39">39 Years</option>
                                                                            <option value="40">40 Years</option>
                                                                            <option value="41">41 Years</option>
                                                                            <option value="42">42 Years</option>
                                                                            <option value="43">43 Years</option>
                                                                            <option value="44">44 Years</option>
                                                                            <option value="45">45 Years</option>
                                                                            <option value="46">46 Years</option>
                                                                            <option value="47">47 Years</option>
                                                                            <option value="48">48 Years</option>
                                                                            <option value="49">49 Years</option>
                                                                            <option value="50">50 Years</option>
                                                                            <option value="51">51 Years</option>
                                                                            <option value="52">52 Years</option>
                                                                            <option value="53">53 Years</option>
                                                                            <option value="54">54 Years</option>
                                                                            <option value="55">55 Years</option>
                                                                            <option value="56">56 Years</option>
                                                                            <option value="57">57 Years</option>
                                                                            <option value="58">58 Years</option>
                                                                            <option value="59">59 Years</option>
                                                                            <option value="60">60 Years</option>
                                                                            <option value="61">61 Years</option>
                                                                            <option value="62">62 Years</option>
                                                                            <option value="63">63 Years</option>
                                                                            <option value="64">64 Years</option>
                                                                            <option value="65">65 Years</option>
                                                                            <option value="66">66 Years</option>
                                                                            <option value="67">67 Years</option>
                                                                            <option value="68">68 Years</option>
                                                                            <option value="69">69 Years</option>
                                                                            <option value="70">70 Years</option>
                                                                            <option value="71">71 Years</option>
                                                                            <option value="72">72 Years</option>
                                                                            <option value="73">73 Years</option>
                                                                            <option value="74">74 Years</option>
                                                                            <option value="75">75 Years</option>
                                                                        </select>
                                                                        <div class="status"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="row2">
                                                                    <div class="form-group selec-option"><a
                                                                            id="kid-step1"
                                                                            class="semibold btn btn-md btn-border">
                                                                            Add Children and Ages (if any)
                                                                        </a>
                                                                        <section
                                                                            class="form-group selec-option-checkbox kids-selection no-list">
                                                                            <div class="kid-selection kid-1 hide">
                                                                                <div class="label-box">
                                                                                    <div class="label-box-in">
                                                                                        <div class="img imggroup imggroupforothers"><img
                                                                                                src="{% static 'assets/img/icon/health-child-1.png' %}">
                                                                                        </div>
                                                                                        <div
                                                                                            class="text bluedark semibold">
                                                                                            <div>
                                                                                                Kid 1
                                                                                            </div>
                                                                                            <div
                                                                                                class="kid-selection-text">
                                                                                            </div>
                                                                                            <div
                                                                                                class="kid-selection-text2">
                                                                                                <span>Select Age</span><i
                                                                                                    class="icofont icofont-caret-down"></i>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <select id="selectkid" name="kids"
                                                                                        data-rel="Kid 1" data-idx="1"
                                                                                        onchange="setrg(this,'amembers-family')"
                                                                                        class="form-control ag child select-ignore form-select_box_family">
                                                                                        <option value=" "></option>
                                                                                        <option value="0.3">3 Months
                                                                                        </option>
                                                                                        <option value="0.6">6 Months
                                                                                        </option>
                                                                                        <option value="1">1 Years
                                                                                        </option>
                                                                                        <option value="2">2 Years
                                                                                        </option>
                                                                                        <option value="3">3 Years
                                                                                        </option>
                                                                                        <option value="4">4 Years
                                                                                        </option>
                                                                                        <option value="5">5 Years
                                                                                        </option>
                                                                                        <option value="6">6 Years
                                                                                        </option>
                                                                                        <option value="7">7 Years
                                                                                        </option>
                                                                                        <option value="8">8 Years
                                                                                        </option>
                                                                                        <option value="9">9 Years
                                                                                        </option>
                                                                                        <option value="10">10 Years
                                                                                        </option>
                                                                                        <option value="11">11 Years
                                                                                        </option>
                                                                                        <option value="12">12 Years
                                                                                        </option>
                                                                                        <option value="13">13 Years
                                                                                        </option>
                                                                                        <option value="14">14 Years
                                                                                        </option>
                                                                                        <option value="15">15 Years
                                                                                        </option>
                                                                                        <option value="16">16 Years
                                                                                        </option>
                                                                                        <option value="17">17 Years
                                                                                        </option>
                                                                                        <option value="18">18 Years
                                                                                        </option>
                                                                                        <option value="19">19 Years
                                                                                        </option>
                                                                                        <option value="20">20 Years
                                                                                        </option>
                                                                                        <option value="21">21 Years
                                                                                        </option>
                                                                                        <option value="22">22 Years
                                                                                        </option>
                                                                                        <option value="23">23 Years
                                                                                        </option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="kid-add-btn-wrap"><a
                                                                                    id="kid-add-btn"
                                                                                    class="kid-add-btn cursor">
                                                                                    <div class="kid-add-btn-box">
                                                                                        <div>
                                                                                            <div class=""><i
                                                                                                    class="fas fa-plus"></i>
                                                                                            </div>
                                                                                            <div class="f15 mt-2 bold">
                                                                                                add Kid
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </a></div>
                                                                        </section>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group col-md-12">
                                                                    <h6 class="hospital-pkr mb-2"> Select
                                                                        Hospitalization Limit (PKR) </h6>
                                                                    <div class="price-range-wrap clearfix">
                                                                        <button  type="button" name="limit"  value="0.6-2"
                                                                            class="form-control square price-range package-text-one semibold center select-limit">
                                                                            60k - 2 Lac
                                                                        </button>
                                                                        <input type="radio" style="display:none" value="60k - 2 Lac" name="limit">
                                                                        <button  type="button" name="limit"  value="2-5"
                                                                            class="form-control square price-range package-text-one semibold center select-limit">
                                                                            2 Lac - 5 Lac
                                                                        </button>
                                                                        <input type="radio" style="display:none" value="2 Lac - 5 Lac" name="limit">
                                                                        <button  type="button" name="limit"  value="5-10" id="asdf"
                                                                            class="form-control square price-range package-text-one semibold center select-limit">
                                                                            5 Lac - 10 Lac
                                                                        </button>
                                                                        <input type="radio" style="display:none" for="asdf" value="5 Lac - 10 Lac" name="limit">
                                                                    </div>
                                                                </div>
                                                                
                                                                <div id="nav-tabs-data">
                                                                    <div class="clearfix center">
                                                                        <button type="submit" class="see-plan btn-health-search-family btn btn-lg btn-orange" data-toggle="tab" href="javascript:;">
                                                                            See Plans
                                                                            <i class="icofont icofont-arrow-right ml-10"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>

                                                    <div id="parents" class="hide form-step" data-prev-form="2">
                                                        <div id="nav-tabs" class="clearfix">
                                                            <div class="tab-pane-h"></div>
                                                            <div class="form-area">
                                                                <form action="{% url 'healthlisting' %}" id="health-search-form-parent" method="POST" class="nomargin health-search-form">
                                                                        
                                                                    {% csrf_token %}
                                                                    <input type="hidden" value="parents" name="type">

                                                                    <div class="form-group form_arrow">
                                                                        <select data-rel="Parents" name="age"
                                                                            onchange="setrg(this,'amembers-parent')"
                                                                            class="form-control ag hsreq-parents label-top form-select_box_parent">
                                                                            <option value=" ">What is their
                                                                                age?</option>
                                                                            <option value="45">45 Years</option>
                                                                            <option value="46">46 Years</option>
                                                                            <option value="47">47 Years</option>
                                                                            <option value="48">48 Years</option>
                                                                            <option value="49">49 Years</option>
                                                                            <option value="50">50 Years</option>
                                                                            <option value="51">51 Years</option>
                                                                            <option value="52">52 Years</option>
                                                                            <option value="53">53 Years</option>
                                                                            <option value="54">54 Years</option>
                                                                            <option value="55">55 Years</option>
                                                                            <option value="56">56 Years</option>
                                                                            <option value="57">57 Years</option>
                                                                            <option value="58">58 Years</option>
                                                                            <option value="59">59 Years</option>
                                                                            <option value="60">60 Years</option>
                                                                            <option value="61">61 Years</option>
                                                                            <option value="62">62 Years</option>
                                                                            <option value="63">63 Years</option>
                                                                            <option value="64">64 Years</option>
                                                                            <option value="65">65 Years</option>
                                                                            <option value="66">66 Years</option>
                                                                            <option value="67">67 Years</option>
                                                                            <option value="68">68 Years</option>
                                                                            <option value="69">69 Years</option>
                                                                            <option value="70">70 Years</option>
                                                                            <option value="71">71 Years</option>
                                                                            <option value="72">72 Years</option>
                                                                            <option value="73">73 Years</option>
                                                                            <option value="74">74 Years</option>
                                                                            <option value="75">75 Years</option>
                                                                            <option value="76">76 Years</option>
                                                                            <option value="77">77 Years</option>
                                                                            <option value="78">78 Years</option>
                                                                            <option value="79">79 Years</option>
                                                                            <option value="80">80 Years</option>
                                                                            <option value="81">81 Years</option>
                                                                            <option value="82">82 Years</option>
                                                                            <option value="83">83 Years</option>
                                                                            <option value="84">84 Years</option>
                                                                            <option value="85">85 Years</option>
                                                                            <option value="86">86 Years</option>
                                                                            <option value="87">87 Years</option>
                                                                            <option value="88">88 Years</option>
                                                                            <option value="89">89 Years</option>
                                                                            <option value="90">90 Years</option>
                                                                        </select>
                                                                        <div class="status"></div>
                                                                    </div>
                                                                    <div class="form-group col-md-12">
                                                                        <div class="hospital-pkr"> 
                                                                            Select Hospitalization Limit (PKR)
                                                                        </div>
                                                                        <div class="price-range-wrap clearfix">
                                                                            <button  type="button" name="limit"  value="0.6-2"
                                                                                class="form-control square price-range package-text-one semibold center select-limit">
                                                                                60k - 2 Lac
                                                                            </button>
                                                                            <input type="radio" style="display:none" value="60k - 2 Lac" name="limit">
                                                                            <button  type="button" name="limit"  value="2-5"
                                                                                class="form-control square price-range package-text-one semibold center select-limit">
                                                                                2 Lac - 5 Lac
                                                                            </button>
                                                                            <input type="radio" style="display:none" value="2 Lac - 5 Lac" name="limit">
                                                                            <button  type="button" name="limit"  value="5-10" id="asdf"
                                                                                class="form-control square price-range package-text-one semibold center select-limit">
                                                                                5 Lac - 10 Lac
                                                                            </button>
                                                                            <input type="radio" style="display:none" for="asdf" value="5 Lac - 10 Lac" name="limit">
                                                                            
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div id="nav-tabs-data">
                                                                        <div class="see-plan center clearfix">
                                                                            <button type="submit"
                                                                                class="see-plan btn btn-lg btn-orange btn-health-search-parent"
                                                                                data-toggle="tab"
                                                                                href="javascript:;">See Plans <i class="icofont icofont-arrow-right ml-10"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <script type="text/javascript">
                                                var h_type = 'self';
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
{% endblock %}

{% block js %}
<script src="{% static 'assets/select2/select2.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('.select-limit').click(function() {
            $('input[type="radio"]').each(function() {
                $(this).attr('checked', false);
            })
            $(this).next('input[type="radio"]').attr('checked',true)

        })
    })
</script>
{% endblock %}