{% extends 'frontend/master.html' %}
{% load static %}
{% block body %}

    <section class="section buy">
        <div class="container">
            <div class="row my-4">
                <div class="col-md-4">
                    <div class="sidebar p-3">
                        <div class="car-model">
                            <span class="d-block">{{formData.model}}</span>
                            <span>{{formData.manufacturingyear}} PKR {{formData.estimated}}</span>
                        </div>
                        <div class="kotaks">
                            <div class="center plan-name ">
                                <h4 class="nomargin darkergray pckg-name">{{allData.policy.company}}</h4>
                            </div>
                            <div class="thumb">
                                <img src="{{allData.policy.company.logo.url}}" class="w-100 product__image">
                            </div>
                            <div class="disc-buy text-center">
                                {% if allData.policy.off > 0 %}
                                <span class="">{{allData.policy.off}}% OFF</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="kotak">
                            <span class="rate">Rate</span>
                            <span class="rate-number">{{allData.policy.rate}}%</span>
                        </div>
                        {% if allData.policy.installment_plane > 0 %}
                        <div class="kotak">
                            <span class="rate">Installment Plan</span>
                            <span class="rate-number">Rs. {{allData.installment_amount}}  / <span class="rate-month">month</span>
                            </span>
                        </div>
                        {% endif %}
                        <div class="kotak">
                            <span class="rate">Total
                            </span>
                            <div>
                                {% if allData.policy.off > 0 %}
                                    <span class="rate-number">Rs {{allData.discount_amount}}</span>
                                    <span class="rate-discount">Rs {{allData.total_amount}}</span>
                                {% else %}
                                    <span class="rate-number">Rs {{allData.total_amount}}</span>
                                {% endif %}
                              
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="thankyou-page">
                        <div class="_header">
                            <h1>Thank You!</h1>
                        </div>
                        <div class="_body">
                            <div class="_box">
                                <h2 class="mb-4">
                                    Now sit back and relax. Our team is on it and you will be contacted shortly.
                                </h2>
                                <p>
                                    Your Order ID is <span class="fw-bold">{{quoteID}}</span>
                                </p>
                                <p>
                                    We have also sent details at <span class="fw-bold">{{email}}</span>
                                </p>
                                <p>
                                    In case of any urgent query feel free to call us at (021) 3-6412690
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-left">
                        <p><i class="far fa-copyright"></i> 2021, Easy Choice.<br>All Rights Reserved. Worked by <a href="http://analysteye.com/"
                                target="_blank" rel="noopener"><strong><span style="color: #ffffff;">Analyst
                                        Eye</span></strong></a>.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-middle text-center">
                        <a href="#">
                            <img width="178" height="46"
                                src="{% static 'logo-white.png' %}"
                                class="attachment-medium size-medium"> </a>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="footer-right">
                        <ul class="text-end">
                            <li class="facebook">
                                <a href="#" class="btn btn-outline-primary"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="linkedin">
                                <a href="#" class="btn btn-outline-primary"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li class="youtube">
                                <a href="#" class="btn btn-outline-primary"><i class="fab fa-youtube"></i></a>
                            </li>
                            <li class="mail">
                                <a href="#" class="btn btn-outline-primary"><i class="far fa-envelope"></i></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </section>
    <a href="#0" class="cd-top"><i class="fas fa-long-arrow-alt-up"></i></a>
</body>

{% endblock %}

{% block js %}

<script>// https://github.com/uxsolutions/bootstrap-datepicker

    $(document).ready(function () {
        $('.dateselect2').datepicker({
            format: "dd/mm/yyyy",
            autoclose: true
        });
    });
</script>
<script>
    //Get the button
   /* Place this code in your JS file */
jQuery(document).ready(function($){
    // browser window scroll (in pixels) after which the "back to top" link is shown
    var offset = 300,
    //browser window scroll (in pixels) after which the "back to top" link opacity is reduced
        offset_opacity = 1200,
    //duration of the top scrolling animation (in ms)
        scroll_top_duration = 350,
    //grab the "back to top" link
        $back_to_top = $('.cd-top');

    //hide or show the "back to top" link
    $(window).scroll(function(){
        ( $(this).scrollTop() > offset ) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
        if( $(this).scrollTop() > offset_opacity ) {
            $back_to_top.addClass('cd-fade-out');
        }
    });

    //smooth scroll to top
    $back_to_top.on('click', function(event){
        event.preventDefault();
        $('body,html').animate({
                scrollTop: 10
            }, scroll_top_duration
        );
        $('body,html').animate({
                scrollTop: 0
            }, 0
        );
    });
});
</script>
{% endblock %}